@import "../../app.scss";

.navbar {
  height: 100px;

  .wrapper {
    width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @include mobile {
      justify-content: flex-end;
      padding: 20px;
    }
    .span{
      display: flex;
    }

    .buttons {
      display:flex;
      // width:50vw;
      // position: absolute;
      padding: 20px;
      // justify-content: flex-start;
      @include mobile {
        height: 50%;
        width: 100%;
        top: unset;
        bottom: 0;
      }

      a {
        padding: 10px;
        border: 1px solid white;
        border-radius: 8px;
        background-color: transparent;
        color: white;
        margin-right: 20px;
        font-weight: 300;
      }
    }

    .social {
      display: flex;
      gap: 20px;
      padding: 10px;
      img {
        width: 28px;
        height: 28px;
      }
    }
  }
}
